#backing
{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(132,117,57,0.65) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(132,117,57,0.65))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(132,117,57,0.65) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(132,117,57,0.65) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(132,117,57,0.65) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(132,117,57,0.65) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6847539',GradientType=0 );    
}

#stone {
    height: 0px;
    /* hide stone */
}
#centerContainer {
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
}
#title {
    color: #000;
    text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;
    font: 70px'ChunkFiveRegular';
}
.wrapper {
    position: relative;
    display: inline-block;
    padding: 0;
}
.text {
    width:180px;
    height:90px;
    position: absolute;
    vertical-align: middle;
    top: 40px;
    left: 20px;
    font: 18px arial, sans-serif;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff2d95, 0 0 30px #ff2d95, 0 0 40px #ff2d95, 0 0 50px #ff2d95, 0 0 75px #ff2d95;
    color:#f00;
    background-color:rgba(0, 0, 0, 0.0);
    text-align: center;
    z-index: 10;
}
}
img {
    z-index:1;
}
.hat {
    position: relative;
    display: inline-block;
    border-radius: 25px;
    padding: 0;
    width: 230px;
    height: 160px;
    //background: -webkit-gradient(linear, left top, right bottom, from(rgb(200, 200, 200)), to(black));
    
    
    background: rgb(200,200,200);
    background: -moz-linear-gradient(-45deg, rgba(200,200,200,1) 0%, rgba(0,0,0,1) 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(200,200,200,1)), color-stop(100%,rgba(0,0,0,1)));
    background: -webkit-linear-gradient(-45deg, rgba(200,200,200,1) 0%,rgba(0,0,0,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(200,200,200,1) 0%,rgba(0,0,0,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(200,200,200,1) 0%,rgba(0,0,0,1) 100%);
    background: linear-gradient(135deg, rgba(200,200,200,1) 0%,rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c8c8c8', endColorstr='#000000',GradientType=1 );

    position: relative;
    z-index: 10;
    -webkit-box-shadow: 20px 21px 35px 5px rgba(0,0,0,0.52);
    -moz-box-shadow: 20px 21px 35px 5px rgba(0,0,0,0.52);
    box-shadow: 20px 21px 35px 5px rgba(0,0,0,0.52);
}
.hat:before {
    content:"";
    border-radius: 25px;
    width: 150%;
    height: 20px;
    
    background: rgb(200,200,200);
    background: -moz-linear-gradient(-45deg, rgba(200,200,200,1) 0%, rgba(0,0,0,1) 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(200,200,200,1)), color-stop(100%,rgba(0,0,0,1)));
    background: -webkit-linear-gradient(-45deg, rgba(200,200,200,1) 0%,rgba(0,0,0,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(200,200,200,1) 0%,rgba(0,0,0,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(200,200,200,1) 0%,rgba(0,0,0,1) 100%);
    background: linear-gradient(135deg, rgba(200,200,200,1) 0%,rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c8c8c8', endColorstr='#000000',GradientType=1 );
    
    position: absolute;
    top: bottom: -5px;
    left: -25%;
    -webkit-box-shadow: 20px 21px 35px 5px rgba(0,0,0,0.52);
    -moz-box-shadow: 20px 21px 35px 5px rgba(0,0,0,0.52);
    box-shadow: 20px 21px 35px 5px rgba(0,0,0,0.52);
}